<div class="jumbotron">
  <div class="page">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Appointment Type:</strong>
      <%= @appointment.appointment_type %>
    </p>
    <p>
      <strong>Appointment time:</strong>
      <%= @appointment.appointment_time %>
    </p>
    <p>
      <strong>Client:</strong>
      <%= @appointment.client.full_name %>
    </p>
    <button class="btn btn-outline-primary btn-sm">
    <%= link_to 'Edit', edit_appointment_path(@appointment) %>
    </button>
    <button class="btn btn-outline-primary btn-sm">
    <%= link_to 'Back', appointments_path %>
    </button>
  </div>
</div>
